<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641255701616-4srmptj9gte9ut5d0q6rqgdk040gscad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641255701616-4srmptj9gte9ut5d0q6rqgdk040gscad</string>
	<key>API_KEY</key>
	<string>AIzaSyD_XWElNennUguQLCbQLIuBWAFGCQ21kpY</string>
	<key>GCM_SENDER_ID</key>
	<string>641255701616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.torrydo.quizApp</string>
	<key>PROJECT_ID</key>
	<string>quiz-29f74</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-29f74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641255701616:ios:526fe3ea6a8da9a6a888b5</string>
</dict>
</plist>